{% extends "base.html" %}

{% block content %}
<h2>Ваша корзина 🛒</h2>

{% if courses %}
<table class="table">
    <thead>
        <tr>
            <th>Курс</th>
            <th>Ціна</th>
            <th>Кількість</th>
            <th>Дії</th>
        </tr>
    </thead>
    <tbody>
        {% for item in courses %}

        <tr
            {% if item.status == "W" %}
                class="table-warning"
            {% elif item.status == "B" %}
                class="table-success"
            {% endif %}
        >
            <td>{{ item.course.title }}</td>
            <td>{{ item.course.price }} $</td>
            <td class="text-center">
                {% if item.status == "N" %}
                    <a href="dec/{{item.course.id}}" class="btn btn-sm btn-outline-secondary">−</a>
                {% endif %}

                <strong class="mx-2">{{ item.count }}</strong>
                {% if item.status == "N" %}
                    <a href="inc/{{item.course.id}}" class="btn btn-sm btn-outline-secondary">+</a>
                {% endif %}
            </td>

            <td>
                {% if item.status == "N" %}
                    <a href="delete/{{ item.course.id }}"
                       class="btn btn-danger btn-sm">
                       ❌ Видалити
                    </a>

                    <a href="buy/{{ item.course.id }}"
                       class="btn btn-success btn-sm">
                       💳 Купити
                    </a>

                {% elif item.status == "W" %}
                    <span class="badge bg-warning text-dark">
                        ⏳ Очікує оплату
                    </span>

                {% elif item.status == "B" %}
                    <span class="badge bg-success">
                        ✅ Куплено
                    </span>
                {% endif %}
            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>
{% else %}
<p>Корзина порожня</p>
{% endif %}

{% endblock %}
